@import '~assets/scss/typography.scss';

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.container-1200 {
  max-width: 1200px;
}

.container-700 {
  max-width: 700px;
}

.container-500 {
  max-width: 500px;
}

.container-row,
.container-column {
  display: flex;
  flex-wrap: wrap;
}

.container-row {
  flex-direction: row;
}

.container-column {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.nowrap {
  flex-wrap: nowrap;
}

.center {
  text-align: center;
}

.m-auto {
  margin: auto;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.width-100 {
  width: 100%;
}

.width-500 {
  width: 500px;
}

.text-brown {
  color: #593d3b;
}

.text-white {
  color: white;
}

.round-corners {
  border-radius: 50%;
  border: 1px solid #593d3b;
  padding: 22px;
  height: 80px;
  width: 80px;
  margin: auto;
}

.workspace-border {
  height: 240px;
  width: 300px;
  border: 1px solid #593d3b;
  border-radius: 3%;
}

.svg-workspace {
  margin-top: 35px;
}

.searchbar > .v-input__control > .v-input__slot {
  border: 1px solid #593d3b;
  box-shadow: none;
}

.checkbox > div > div {
  border: none;
}

.workspace-container {
  height: 500px;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}

.btn-end {
  justify-content: flex-end;
  display: flex;
}

.payment-textfield {
  min-width: 200px;
}

.status-increasing,
.status-yellow,
.status-decreasing,
.status-stable {
  margin-top: 5px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.status-increasing {
  background-color: #a7d36f;
  border: 1px solid #a7d36f;
}

.status-yellow {
  background-color: #f5e658;
  border: 1px solid #f5e658;
}

.status-decreasing {
  background-color: #eb6258;
  border: 1px solid #eb6258;
}

.status-stable {
  background-color: #777777;
  border: 1px solid #777777;
}

.svg-container {
  border: 1px solid black;
  width: 400px;
  height: 250px;
  padding-top: 45px;
}

.editori {
  height: 60px;
  width: 60px;
}

.editori-logo {
  color: white;
  background-color: #6f5e53;
  font-size: 70px;
  margin-left: -1px;
}

.editori-text {
  font-size: 40px;
  color: #6f5e53;
  font-weight: 700;
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;
}

.editori-border {
  width: 400px;
  height: 250px;
  border: 2px solid #593d3b;
  padding: 50px;
}

.editori-container {
  border: 4.6px solid #6f5e53;
  line-height: 1.15;
}

.avatar-placeholder {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 4px solid white;
  background-color: #c4c4c4;
}
