@import '~assets/scss/typography.scss';

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.rcorners {
  border-radius: 50%;
  border: 1px solid #593d3b;
  padding: 22px;
  height: 80px;
  width: 80px;
}

.square {
  height: 240px;
  width: 240px;
  border: 1px solid #593d3b;
  border-radius: 3%;
}

.svgworkspace {
  margin-top: 35px;
}

.step {
  border-left: none !important;
}

.container {
  max-width: 700px !important;
}

.newcontainer {
  max-width: unset;
}

.leftcol {
  max-width: 50px;
  padding-bottom: 20px;
}

.v-stepper {
  box-shadow: none !important;
}

.step1 div > span {
  background: #593d3b !important;
}

.step2 div > span {
  top: 250px !important;
  background: #6f5e53 !important;
}

.step3 div > span {
  top: 400px !important;
  background: #8a7968 !important;
}

.step4 div > span {
  top: 550px !important;
  background: #ab947e !important;
}

.v-stepper--vertical .v-stepper__step {
  padding: unset;
}

.v-stepper__step__step {
  height: 50px !important;
  width: 150px !important;
  transform: rotate(-90deg) !important;
  border-radius: unset !important;
  position: fixed;
  top: 100px;
  font-size: 20px;
  left: -23px;
}

.rectangle,
.rectangle2,
.rectangle3,
.rectangle4 {
  position: fixed;
  left: 17px;
  height: 150px;
  width: 10px;
}

.rectangle {
  top: 50px;
  border: 1px solid #593d3b;
  background: #593d3b;
}

.rectangle2 {
  top: 200px;
  border: 1px solid #6f5e53;
  background: #6f5e53;
}

.rectangle3 {
  top: 350px;
  border: 1px solid #8a7968;
  background: #8a7968;
}

.rectangle4 {
  top: 500px;
  border: 1px solid #ab947e;
  background: #ab947e;
}

.v-btn--disabled {
  padding: 28px 0 !important;
}

.svgapple,
.svggoogle {
  height: 56px;
  border-radius: 4px;
  width: 120px !important;
}

.svgapple {
  color: white;
  background: black;
}

.svggoogle {
  border: 1px solid gray;
}

.svggooglepay {
  padding-left: 0px !important;
}

.v-input__slot {
  border: 1px solid #593d3b;
  box-shadow: none !important;
}

.checkbox > div > div {
  border: none;
}

.mxh-container {
  height: 700px;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}

.btn-end {
  justify-content: flex-end;
  display: flex;
}

@media only screen and (max-width: 375px) {
  .rectangle,
  .rectangle2,
  .rectangle3,
  .rectangle4 {
    left: 0px;
    height: 130px;
  }

  .rectangle {
    top: 20px;
  }

  .rectangle2 {
    top: 150px;
  }

  .rectangle3 {
    top: 280px;
  }

  .rectangle4 {
    top: 410px;
  }

  .v-stepper__step__step {
    height: 30px !important;
    width: 130px !important;
    top: 50px;
    font-size: 16px;
    left: -40px;
  }

  .step1 div > span {
    top: 70px;
  }

  .step2 div > span {
    top: 200px !important;
  }

  .step3 div > span {
    top: 330px !important;
  }

  .step4 div > span {
    top: 460px !important;
  }
  .svggooglepay {
    padding-left: 12px !important;
  }
}
